<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><%= heading %></h1>
    <% let name = "Flow G" %>
    <h1><%= name %></h1>
    <h1>Alam ko na may mata na nagbabantay kung paano ako sasablay</h1>
    <h1>Matiyagang nag-aantay kung kailan ako tatamlay at lalaylay</h1>
    <h1>Yung mga laway na laway na makita ako na mahina, umay na umay na manira</h1>
    <h1>Ngalay na ngalay na manghila kasi nga walang pinakitang hindi pamatay</h1>
</body>
</html>